/* Universal Styles */
body {
  font-family: 'Helvetica';
  font-weight: normal;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

body span {
  text-align: left;
}

/* Header */
header {
  top: 0;
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  position: fixed;
  height: 150px;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo img {
  height: 120px;
  width: 472px;
  margin: 20px auto 0px auto;
}

/* Navigation bar */

.links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 150px auto 0px auto;
}

.links a {
  font-size: 16px;
  color: white;
  padding: 0px 10px;
  opacity: 0.5;
}

/* Footer */
