/* Universal Styles */

body {
  font-family: Vollkorn;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  text-decoration: underline;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */

header {
  position: fixed;
  height: 120px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  align-items: center;
  z-index: 1;
}

header img {
  height: 100px;
  padding-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  margin-left: 30px;
  font-weight: bold;
  font-size: 40px;
}

/* Mission */
#mission {
  height: 100px;
  width: 1200px;
  margin: auto;
  padding-top: 150px;
}

#mission .mission-text {
  margin: auto;
  width: 100%;
  background-color: black;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  overflow: auto;
  z-index: 1;
}

.dropdown-content span {
  color: black;
  font-size: 16px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Images */
#images {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

#images .title {
  margin: auto;
  width: 100%;
}

.image img {
  height: 200px;
  width: 300px;
  margin: 10px;
  display: block;
}

.image span {
  display: block;
  text-align: center;
  padding: 5px;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

/* Footer */
